<style>
table, th, td {
  border: 1px solid green;
  padding: 5px;
  text-align:center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>

<header>
    
</header>
<body>
    <ul>
      <li><a class="active" href="http://localhost:4567/">Inicio</a></li>
      <li><a href="http://localhost:4567/cargarArchivoDeCDRs">Cargar Archivo de CDRs</a></li>
      <li><a href="http://localhost:4567/usuarios"> Usuarios </a></li>
      <li><a href="http://localhost:4567/CDRs">Tarificar</a></li>
      <li><a href="http://localhost:4567/recuperarTarificacion">Recuperar Tarificacion</a></li>
      <li><a href="http://localhost:4567/configuracion">Configuracion</a></li>
    </ul>
     #if($CDRs.size() != 0)
        <h2>CARGA EXITOSA</h2>
     
         <h2>Cantidad de CDRS cargados: $CDRs.size()   Cantidad de Usuarios: $Usuarios.size()  </h2>
     #else
        <h2>CARGA FALLIDA</h2>
        <h2>Lo siento usuario! diste una archivo que no existe, vuelve a intentarlo! :)</h2>
     #end	